[2020-03-09 00:46] KonradSchieban opened #5 "cis-gcp-1.3-iam makes it difficult to apply controls programmatically"
I would like to run InSpec and Terraform programmatically as part of a Cloud Build pipeline. The control cis-gcp-1.3-iam prevents user-managed service accounts, which I require for Terraform and InSpec execution. How can this be achieved without removing the control?

[2020-03-09 01:56] TaEduard commented on #5
I believe that this problem is tackled by Vault (https://www.vaultproject.io/) by having service accounts which are short lived and generated on demand.

[2020-03-12 18:51] binamov commented on #5
Wondering if we can use `gcloud auth` credentials instead of user managed SSH keys?

[2020-03-23 21:52] binamov opened #13 "Update to CIS 1.1"
CIS [announced version 1.1](https://www.linkedin.com/posts/the-center-for-internet-security_update-cis-google-cloud-platform-foundation-activity-6645383946739818496-0GzK) improvement to the benchmark, that, among other things:

[The latest benchmark](https://www.cisecurity.org/benchmark/google_cloud_computing_platform/) is available for download.

[2020-04-06 23:05] smiller1032 opened #18 "1.09 - ./controls (NoMethodError)"
I ran inspec-gcp-cis-benchmark this morning using  https://github.com/inspec/inspec-gcp/archive/v0.23.4.tar.gz. After running the test completed I got a NoMethod error on /controls/1.09-iam.rb:50:in `block (2 levels) in load_with_context': undefined method `each' for nil:NilClass (NoMethodError). I had no IAM setting with roles/cloudkms.admin. But when I do add one, I no longer get the error.  Can

[2020-04-07 00:18] smiller1032 opened #19 "1.07 IAM control (NoMethodError)"
I ran inspec-gcp-cis-benchmark this morning using https://github.com/inspec/inspec-gcp/archive/v0.23.4.tar.gz After running the test completed I got a NoMethod error on ./controls/1.07-iam.rb:50:in `block (2 levels) in load_with_context': undefined method `each' for nil:NilClass (NoMethodError). I had no IAM setting with roles/sa_admin. But when I do add one, I no longer get the error. Can you ple

[2020-04-13 13:15] #5 closed

[2020-04-21 22:06] prashantkul opened #21 "For controls 6.2-6.7 improve error handling"
Improve error handling in 6.2 - 6.7

1. If there are no databases in a project
2. If the right type of database is not found (MySQL Vs SQL Server)
3. If no database flags/settings have been set

[2020-04-24 19:35] binamov opened #22 "Does not work with inspec > 4.18.51"
As discussed in https://github.com/inspec/inspec/issues/4948 , we need to refactor the helpers to make this profile work with newer versions of inspec. This has been addressed for https://github.com/GoogleCloudPlatform/inspec-gcp-pci-profile using https://github.com/GoogleCloudPlatform/inspec-gcp-pci-profile/pull/15 and similar work is required for this profile.

[2020-05-08 16:45] #13 closed

[2020-05-08 16:45] #18 closed

[2020-05-08 16:45] #19 closed

[2020-05-08 16:45] #21 closed

[2020-05-08 16:45] #22 closed

[2020-05-08 21:26] smiller1032 opened #26 "Getting profile errors on multiple controls"
When I run this profile against a GCP project, I get a significant number of profile errors on the controls. I want the controls to run but if it is not applicable in a project then each control should load into Heimdall as 'Not Applicable'.

[2020-05-14 23:09] dinvlad commented on #13
What's the new location of the GKE controls? Or could we expect a new Inspec benchmark for those?

[2020-05-14 23:18] binamov commented on #13
@dinvlad in v 1.1 CIS split up GCP and GKE into separate benchmarks, so we'll move/update the GKE controls in a new repo.

[2020-05-14 23:44] dinvlad commented on #13
Thanks! Is there an approximate timeline for the new repo?

[2020-05-14 23:51] binamov commented on #13
I'm hoping in the next couple of weeks. @dinvlad feel free to reach out directly if you want to chat about it. You can also create an issue on this repo if you're fine with a couple of weeks and just want to get notified when we're done.

[2020-05-17 00:32] aaronlippold commented on #26
The key here would be to ensure that the `impact` is getting set to `0` to be displayed in Heimdall as Not Applicable.

For some of these controls, we may need to move to the `expect` syntax to ensure the right general impact is being set.

[2020-05-21 18:49] binamov commented on #13
@dinvlad https://github.com/GoogleCloudPlatform/inspec-gcp-cis-benchmark/pull/33 got merged that should give you better impact scores

[2020-05-21 19:13] dinvlad commented on #13
Amazing, thank you!

[2020-05-29 17:56] KonradSchieban commented on #26
Hi @smiller1032 , can you please point to the exact controls which fail? We'd like to address this unwanted behavior if controls are failing but should be unapplicable. Are you getting control errors or exceptions?

[2020-05-29 20:35] dinvlad opened #36 "Impact scores are output as numeric values in JSON"
Hi Team,

We've been testing impact scores (https://github.com/GoogleCloudPlatform/inspec-gcp-cis-benchmark/pull/33) and noticed that they're output as numeric values (0.1, 0.4, 0.7) rather than textual (low, medium, high) in the output JSON.

Is that to be expected? I think it'd be easiest for our users to interpret textual scores (e.g. it can be hard to determine without context if 0.7 is "high"

[2020-05-29 20:49] binamov commented on #36
Pretty sure InSpec core translates the text to numericals. From inspec docs:

[2020-05-29 20:53] dinvlad commented on #36
Interesting, thanks! Does that bear similarity with CVSS? I.e. if we were to just multiply by 10 :)

[2020-05-29 20:57] binamov commented on #36
Sounds about right, CVSS seems to deal with integers 0-10, inspec does tenths of 0-1 😹

[2020-05-29 21:01] dinvlad commented on #36
Sounds good, I'll close this for now as we're also testing Heimdall, and the scores are correctly interpreted there 👍

[2020-05-31 14:15] aaronlippold commented on #36
Hello, yes you are correct when I implemented impact to support both
numeric and human readable the standard I chose was CVSS 3.0.

If possible I would prefer the code use floats and we'll make sure that
it's human readable in the UX.

Thanks

Aaron

On Fri, May 29, 2020, 5:01 PM Denis Loginov <notifications@github.com>
wrote:

[2020-06-09 15:53] dinvlad opened #37 "Permissions to scan GCP projects"
Hi Team,

We're facing a new challenge now as we're trying to scan all projects in a GCP org. We realized we don't really know which minimal IAM permissions the service account running the scans should have. Do you have an exhaustive list of those?

Of course, we could just grant Org Viewer role to that SA, but we'd much prefer to create a custom role with an explicit list of permissions.

Thank y

[2020-06-20 14:45] KonradSchieban commented on #37
Great suggestion @dinvlad . I think this would be very useful to have in the documentation.

[2020-07-29 16:26] paulcalabro commented on #37
@KonradSchieban We're looking to scan all projects as well, not just one project. Is there any way to accomplish this atm?

[2020-07-29 17:38] dinvlad commented on #37
@paulcalabro we accomplish this right now by submitting a batch jobs where each container scans a single project. Since Inspec is single-threaded (I believe), it may take a long time to scan even a single project. Doing it for N sequentially might be time-prohibiting then..

[2020-07-29 18:13] binamov commented on #37
+1 to what dinvlad said, this repo is for a per-project granularity, if you're looking to scan multiple projects a parallel batch job should do it @paulcalabro . The per-project design allows you to enable eg a developer to scan their project in Dev, or to have your CI job scan a project in UAT for which a change is being promoted.

[2020-07-29 22:52] paulcalabro commented on #37
Thanks @dinvlad and @binamov for your help! I'll give that a try!

[2020-08-05 20:28] brettcurtis opened #44 "Question: Can this run from kitchen-terraform"
First all this repo has help me A LOT so thanks for putting in the work! I'm able to hit gcp at a project level and understand exactly what I need to do to address benchmark violations. I'm also able to include it as a test in our infra CD pipelines.

What I'm trying to do is run this from kitchen-terraform in an effort to reduce the feedback loop for infrastructure developers. I'm new to inspec a

[2020-08-05 20:48] binamov commented on #44
@brettcurtis are you specifying the target of GCP by doing `inspec check default-vpc -t gcp://` ?

[2020-08-05 21:02] binamov commented on #44
And yes, this works with kitchen-terraform very nicely.

[2020-08-05 21:20] brettcurtis commented on #44
Looks like -t isn't an option for check ?

[2020-08-05 21:22] binamov commented on #44
yeah i meant -t for `inspec exec`

[2020-08-05 21:26] brettcurtis commented on #44
ok yeah I did try that initially with but test didn't run so I went to the "check" to try and figure out what was going on form there. It's pulling the profiles just not running the tests:

[code]

[2020-08-05 21:37] brettcurtis commented on #44
bah ok this works:
 `bundle exec inspec exec default-vpc -t gcp:// --input gcp_project_id=my-project-id`

So i guess it's just ignoring tests if i don't pass that. So I need to pass my terraform "output" of project_id to a variable of gcp_project_id somehow?

I removed all that since i was trying to figure out how it worked and was hoping i would see an error around the missing gcp_project_id but

[2020-08-05 22:18] brettcurtis commented on #44
Let me see if I can ask my question a bit better now that I'm starting to understand this a tiny bit more.

How can I pass my terraform output of project_id to your tests that require an input of gcp_project_id ?

[2020-08-05 22:39] binamov commented on #44
There's a few ways @brettcurtis . Your inspec.yml may have something like `foo : <%= ENV['bar'] %>` to read the value from an env var.
You could render the project id to eg an inspec.yml file from the terraform run itself. If using test-kitchen then kitchen yml attributes. You have choices :)

[2020-08-06 01:01] brettcurtis commented on #44
Would you expect this to work, I'm just trying to understand the inputs:
[code]
Running: `bundle exec inspec exec default-vpc -t gcp://`

My attr control runs fine however not the cis controls. They will only run if I pass the input from the command line:
`bundle exec inspec exec default-vpc -t gcp:// --input gcp_project_id=my-tf-module-testing`

[2020-08-06 13:19] KonradSchieban commented on #44
@brettcurtis We have previously worked on an automation pipeline for terraform with InSpec compliance validation. Maybe this implementation for the pci on gke blueprint could be interesting for you: https://github.com/GoogleCloudPlatform/pci-gke-blueprint/blob/master/cicd/cloudbuild.yml

[2020-08-06 18:12] brettcurtis commented on #44
thanks I'll take a look @KonradSchieban. Right now I'm just struggling with the tests running when I try to exclude the --input argument from the command line and add it directly to the profile’s control code. I've read [this](https://docs.chef.io/inspec/inputs) a few times and have tests case that work with inputs but I suspect they need to be handled differently with `require_controls` - i think

[2020-08-06 18:32] binamov commented on #44
This docpage should help @brettcurtis https://docs.chef.io/inspec/inputs/#how-can-i-set-inputs

[2020-08-06 19:11] brettcurtis commented on #44
Yeah, I must still be missing something because I would expect this to work:

[code]

Error:
[code]

[2020-08-06 21:23] brettcurtis commented on #44
sooo, learning out loud here.. :)

The only place I can get the input to override so far is in my insepc.yml like this part of the documentation talks about: https://docs.chef.io/inspec/inputs/#using-inputs-with-profile-inheritance

inspec.yml
[code]

So if that's the only way it will work I'd need to understand if my terrafrom output for the project id can be used here somehow..

[2020-08-06 22:33] binamov commented on #44
something like this can work

in your wrapper `inspec.yml`
[code]

and then after the tf run in your shell, before running inspec

[code]

[2020-08-06 23:59] aaronlippold commented on #44
Kitchen-terraform may be useful here?

On Thu, Aug 6, 2020 at 6:33 PM Bakh Inamov <notifications@github.com> wrote:

--
--------
Aaron Lippold

lippold@gmail.com

260-255-4779

twitter/aim/yahoo,etc.
'aaronlippold'

[2020-08-07 00:04] brettcurtis commented on #44
thanks @binamov - yeah @aaronlippold  that's what I'm using (removed it from the mix for troubleshooting the inputs) so I'm guessing there is a way to use my outputs in my inspec.yml.

[2020-08-07 00:23] binamov commented on #44
with kt, tf outputs should be automatically exposed as inspec inputs

[2020-08-07 00:30] brettcurtis commented on #44
Right, I did read that. I'm just trying to figure out if I can keep my output name of project_id somehow when you guys are expecting gcp_project_id.  I'm messing around now to see if I can understand how the outputs work with kt. Thanks for all the help.

[2020-08-07 01:20] brettcurtis commented on #44
If I add an additional output for gcp_project_id and include the following in my inspec.yml:

[code]

Everything works through kt. Not the most elegant solution for me since I have project_id as an output already but good enough for now !

[2020-08-07 02:53] binamov commented on #44
you should be able to use KT verifier's `attrs_outputs` for this https://www.rubydoc.info/github/newcontext-oss/kitchen-terraform/Kitchen/Verifier/Terraform

[2020-08-07 12:27] brettcurtis commented on #44
Perfect! I've got this all working exactly how I want now! We are doing terraform module development and this is perfect to run with kitchen-terrafrom to get fast security feedback related only to the specific resources in that given module. Then in our root modules pipelines our teams consume to build their application infra we run the full suite of CIS tests as describe in your readme. I'll prob

[2020-08-07 12:27] #44 closed

[2020-08-07 14:05] aaronlippold commented on #44
Wonderful. If you have any questions about the inspec-tools libraryOr
integration with kitchen and how that affects your workflow as you write
your article or move out with your testing architecture. Please let us
know. I look forward to the article and will possibly ask for permission to
reference it as demonstrations from the Field

On Fri, Aug 7, 2020 at 8:27 AM Brett Curtis <notifications@gith

[2020-08-18 23:54] binamov commented on #13
@dinvlad got a chance to port the older controls, https://github.com/GoogleCloudPlatform/inspec-gke-cis-benchmark

[2020-08-19 16:05] dinvlad commented on #13
Thanks! Could you please reference the PR? Just for us to double-check which controls.

[2020-08-19 18:04] binamov commented on #13
We ported most of the controls that were GKE in CIS GCP 1.0 https://github.com/GoogleCloudPlatform/inspec-gcp-cis-benchmark/tree/19718882a742ed2518c06fea20fecbf9945f7619/controls

There were one or two that did not need to be ported as they are no longer required by the CIS GKE benchmark @dinvlad

[2020-08-19 18:12] dinvlad commented on #13
OK, makes sense! Initially I didn't notice the difference in GitHub URLs :)
Thanks a lot!

[2020-08-20 22:38] dinvlad commented on #13
Happy to report that we've integrated the new benchmark on our side, and it seems to be working well!

[2020-08-24 15:39] dinvlad commented on #37
Hi folks, has there been any progress on this? Thanks!

[2020-08-24 18:00] akasakashota opened #46 "CIS Control 1.5 doesn't detect correctly"
Hi team,

It seem that the below regex in control of 1.5 is incorrect:
https://github.com/GoogleCloudPlatform/inspec-gcp-cis-benchmark/blob/f0f25e016a7d5f8f2df0eb2c3ea433130ac0ee08/controls/1.05-iam.rb#L48
https://github.com/GoogleCloudPlatform/inspec-gcp-cis-benchmark/blob/f0f25e016a7d5f8f2df0eb2c3ea433130ac0ee08/controls/1.05-iam.rb#L55
https://github.com/GoogleCloudPlatform/inspec-gcp-cis-bench

[2020-08-25 03:28] KonradSchieban commented on #46
Hi @akasakashota and thank you for raising the issue. Makes sense to me but I will also have to do some testing. A PR is greatly appreciated.

[2020-08-25 03:32] KonradSchieban commented on #37
Hi @dinvlad , I will pick this up and I will provide an update this week.

[2020-08-26 12:24] #46 closed

[2020-09-01 19:04] dinvlad commented on #37
@KonradSchieban any updates? Thanks

[2020-09-03 00:35] #37 closed

[2020-09-03 00:41] KonradSchieban commented on #37
Hi @dinvlad , sorry for taking so long on this. I have used the IAM Recommender API to suggest the needed permissions for a service account and have added them to the Readme.

Note, that some permissions are needed on org level. So, you can either create a custom role on org level with all listed permissions, such that you can run the profile for any project inside the org. The absolute bare minim

[2020-09-03 02:22] dinvlad commented on #37
Perfect, thanks so much! We'll most likely set up a dedicated role for this and test it out.

[2020-09-03 20:25] dinvlad commented on #37
@KonradSchieban could you add the same for https://github.com/GoogleCloudPlatform/inspec-gke-cis-benchmark please?

[2020-09-03 20:37] KonradSchieban commented on #37
Eventually yes. We still have many controls to implement for inspec-gke-cis, however.

[2020-09-03 21:37] dinvlad commented on #37
I see, thanks! Would you say that Kubernetes Engine Viewer role would be adequate for now?

[2020-09-05 19:35] brettcurtis commented on #44
Howdy @aaronlippold - I started this series of post here:
https://dev.to/brettcurtis/series/8673

This is all still _very_ new to me so any suggested edits or things you think would be helpful to others to see let me know and I can add it! The next post will focus more on Github and development practices moving forward, possibly a bit around some struggles we still have as well.

[2020-09-06 14:16] aaronlippold commented on #44
Hi, very cool. It’s a family weekend so ping me on Slack Tuesday and we can
take a look at what you have.

On Sat, Sep 5, 2020 at 3:35 PM Brett Curtis <notifications@github.com>
wrote:

--------
Aaron Lippold

lippold@gmail.com

260-255-4779

twitter/aim/yahoo,etc.
'aaronlippold'

[2020-09-07 21:24] dinvlad commented on #37
Thanks, makes perfect sense! And we're already running both GCP and GKE benchmarks in the same job, so our service account has both GCP and GKE permissions now.

[2020-09-08 02:03] KonradSchieban commented on #37
Ah that's awesome! That means we really need to get going with the rest of the GKE CIS controls ;-)

Out of curiosity: Is there anything you see from the IAM Recommender in IAM? If you have overprovisioned the permissions for the service account you should be able to see a lightbulb showing you how many permissions are over granted.

[2020-09-08 02:07] dinvlad commented on #37
@KonradSchieban I'd be curious to see that as well! We're only starting to test them together with the updated set of permissions, so we'll need to give the IAM Recommender some time to give us results :)

[2020-09-09 17:45] dinvlad commented on #37
We're experiencing something very strange re permissions for GCP CIS scan:

1. We created a Service Account X in Project X, and granted it permissions described in
   [README.md#required-permissions](https://github.com/GoogleCloudPlatform/inspec-gcp-cis-benchmark/blob/master/README.md#required-permissions) (plus Kubernetes Engine Viewer), to Project Z.
2. Project Y has associated SA X with the GKE

[2020-09-09 19:00] KonradSchieban commented on #37
Hi @dinvlad , thank you for raising this. I have a suspicion why this is, yet have not experience it myself. My assumption is that some classes which cache results for Cloud SQL, GKE and IAM do not report errors despite not collecting all items due to missing permissions. Ideally, those classes would raise errors and show the missing permissions. This is only my initial thought but will investigat

[2020-09-09 19:17] dinvlad opened #54 "Silent permission issues for some resources"
We're experiencing something very strange re permissions for GCP & GKE CIS benchmarks:

1. We created a Service Account X in Project X, and granted it permissions described in
   [README.md#required-permissions](https://github.com/GoogleCloudPlatform/inspec-gcp-cis-benchmark/blob/master/README.md#required-permissions) (plus Kubernetes Engine Viewer), to Project Z.
2. Project Y has associated SA X

[2020-09-09 19:19] dinvlad commented on #54
I have my suspicion also that this might be related to the obscure requirement that Cloud SQL Admin and/or other APIs are not enabled in SA X project X! I.e. whenever we use SA credentials, the APIs **must** be enabled in both the source and the target projects. I found this requirement while digging through GCP documentation earlier, but I can't easily find where right now. I'll double-check whic

[2020-09-09 19:20] dinvlad commented on #37
Understood, thanks!

I now have a theory also and working to verify it: https://github.com/GoogleCloudPlatform/inspec-gcp-cis-benchmark/issues/54#issuecomment-689764742

[2020-09-09 19:38] dinvlad commented on #54
Indeed, that fixed it!
I'll suggest a PR for adding instructions to enable the proper APIs to README.

[2020-09-09 20:03] dinvlad commented on #54
Another problem as @KonradSchieban mentioned in https://github.com/GoogleCloudPlatform/inspec-gcp-cis-benchmark/issues/37#issuecomment-689754706, is that these access control issues were dropped silently. So the real remaining issue is that the code should properly handle such exceptions and report them to the user.

[2020-09-09 20:32] dinvlad commented on #54
I think the issue is a bit more nuanced also because the _target_ project (to be scanned), these APIs may not be enabled, but this is a non-issue then because the services that depend on them have not been used, and so would not return any findings. So we should _probably_ ignore these target APIs are disabled, not _don't_ ignore if they're disabled in the "source" project(s).

This might require

[2020-09-09 21:32] dinvlad commented on #54
Looks like we're still seeing some inconsistencies when scanning various projects. A proper warning about any 403 error(s) would be very helpful for troubleshooting these issues!

[2020-09-09 22:50] dinvlad commented on #54
I think this issue (i.e. silent treatment of permission errors) also leads to false-positives when scanning for a majority of Logging specs (2.xx). I.e. even when the SA doesn't have permissions to scan logging/monitoring configs in a project, it will think that they're not found, and report them as findings!

What I'd suggest is to log warnings about these permissions instead, and then not report

[2020-09-11 03:30] dinvlad commented on #54
Closing in favor of https://github.com/GoogleCloudPlatform/inspec-gcp-helpers/issues/9

[2020-09-11 03:30] #54 closed

[2020-09-15 21:37] dinvlad opened #57 "Deprecation warning about should_not in 3.09-networking.rb"
Hi Team,

I noticed a deprecation warning that gets logged every time we run the scanner:
[code]

Is that something known and could be fixed? Obviously, not a big deal, but it does make the logs harder to read :-)

I have set `export RUBYOPT="-W:no-deprecated"`, but that didn't help in this case, as it seems.

Thanks!

[2020-09-15 22:11] dinvlad commented on #46
I think this actually needs to be even more selective! For example, in our project it gets triggered on:
[code]

[2020-09-15 22:13] dinvlad commented on #46
So I think it should _exclude_ any of the `service-${PROJECT_ID}@[a-z][a-z0-9|-]{4,28}[a-z].iam.gserviceaccount.com` SAs from consideration.

[2020-09-15 22:15] dinvlad commented on #46
(or alternatively, this indicates that `Google Container Registry Service Agent` should not actually be granted `Editor` role by Google, esp. since it's the only one with an admin role!)

[2020-09-16 00:33] KonradSchieban commented on #46
That's interesting that your container registry SA causes a failed control because it should not. We included logic in the linked PR to skip the container registry SA because it is by default Editor on the project. Does the SA have any other administrative role?

[2020-09-16 18:54] dinvlad opened #58 "[Feature Request] Return affected resource in results JSON"
Hi Team,

We're trying to make sense of all of the CIS findings in some of our projects, and how to begin to address them.
Currently, to even identify the affected resources, all we have is a message like this:
[code]

As you can see, `{instance}` can only be identified programmatically by parsing `code_desc` message.
It would be really helpful if, for each finding, the CIS benchmark also returned

[2020-09-16 19:16] dinvlad commented on #58
OK, makes sense. So in that case, we can treat this as a standardized message, so we can parse it I guess..

[2020-09-16 19:18] binamov commented on #58
Yeah we wanted the message to be descriptive enough to help investigations, so we're following this approach across all our profiles.

[2020-09-16 19:45] dinvlad commented on #58
The problem is, a lot of code messages don't follow this format or are not uniform across various controls though, for example:
[code]

So how do we parse it in a more general way, instead of having to create a regex for each control that's different?

[2020-09-16 19:50] dinvlad commented on #46
Weirdly, yes, the only 2 other Editor SAs in this project are:
[code]
Yet, we still get a finding (and hard to say which SA it refers to!) that says:
[code]

[2020-09-16 19:51] binamov commented on #58
Why parse and not just share the message as-is?

[2020-09-16 19:52] dinvlad commented on #46
Unless we didn't rebuild this image since the fix was merged (I'll double-check)..

[2020-09-16 19:53] dinvlad commented on #58
@binamov this is because we'd like to build additional automation around it, as explained :) I.e. we'd like to have a programmatic way to the findings that are machine-readable, as opposed to human-readable..

[2020-09-16 20:00] dinvlad commented on #46
Yes, we're on `1.1.0-17`.

[2020-09-16 20:03] binamov commented on #58
I'm not sure adding eg `tag` is supported from inside a `describe` block. We could possibly introduce some redundancy by saying something like:
[code]
inside of each describe, but still that `name` field is different from resource to resource, eg `instance_id` , `bucket` etc.

[2020-09-16 20:08] binamov commented on #58
@aaronlippold any thoughts on this?

[2020-09-16 21:01] KonradSchieban commented on #46
OK will investigate!

[2020-09-16 21:47] akasakashota commented on #46
FYI it seems to be working fine in my environment.

Just to be sure, are the credentials for running InSpec and the credentials you are using for check the same thing?

Please try running the following gcloud command with the credentials for running InSpec and check the output.

[code]

I hope that this information is helpful to you. Thanks.

[2020-09-17 02:21] dinvlad commented on #46
OK, sorry for the confusion here :) I overlooked one account earlier. This command helped me clarify that!

[2020-09-17 02:23] dinvlad commented on #46
That being said, it would be _really_ helpful if `code_desc` reported the actual email of the violating SA. But that deserves its own issue :)

[2020-09-17 12:10] KonradSchieban commented on #46
Just to confirm @dinvlad , the control works as expected, but the code_desc field should contain the email of the violating SA?

[2020-09-20 02:38] aaronlippold commented on #58
Hi guys, I would have to look at the describe blocks in question to dig in ... but it seems like the use of a `subject` and perhaps switching the describe blocks to the `expect` syntax may help clean up the reporting of the test results.

The idea of using a rspec explicit subject - https://relishapp.com/rspec/rspec-core/v/3-9/docs/subject/explicit-subject - is to use the describe message as the '

[2020-09-20 02:44] aaronlippold commented on #57
This article seems to indicate - https://rspec.info/blog/2012/06/rspecs-new-expectation-syntax/. - that we have to just update the expect style blocks to use `.to cmp(blah)` and `.to_not eq(foo)` rather than `.should cmp(blah)` and or `.should_not eq(foo)`.

[2020-09-20 02:45] aaronlippold commented on #26
@smiller1032 can you let us know which controls are throwing errors or send us an example json result out of band. Thanks.

[2020-09-20 02:47] aaronlippold opened #60 "Update rspec expect syntax to the `.to` pattern"
#57

see: https://rspec.info/blog/2012/06/rspecs-new-expectation-syntax/

[2020-09-20 02:48] aaronlippold opened #61 "Tag all the controls with NIST controls"

[2020-09-22 19:34] KonradSchieban commented on #57
Thank you @dinvlad for raising this issue and @aaronlippold for suggesting a fix!

[2020-10-05 15:58] Clausewitz45 opened #64 "cis-gcp-3.8-networking check is failing because of the internal load balancer proxy subnet typ"
Hi Team,

Since Google introduced the proxy-only subnets which are reserved for Internal HTTP(S) Load Balancing, the 3.8 check is failing because of the missing VPC Flow Logs options. I checked on console and gcloud commands - not option to set flow logs when you are creating this type of subnet.

I don't know the status of the CIS1.2, or does that will contain something like this, but this check

[2020-10-05 18:23] binamov commented on #64
This is correct, VPC Flow Logs are not supported for proxy-only subnets as per https://cloud.google.com/load-balancing/docs/l7-internal/proxy-only-subnets#requirements_and_limitations . A pattern like this https://github.com/GoogleCloudPlatform/inspec-gcp-cis-benchmark/blob/master/controls/6.01-db.rb#L85 can probably be used to skip validation of proxy-only subnets. Is this a PR you're open to fil

[2020-10-05 18:53] Clausewitz45 commented on #64
Many thanks for the confirmation @binamov - I will give a try to do it tomorrow.

[2020-10-05 22:00] binamov commented on #64
Seems the subnetwork object has a `purpose` field and if the value is `INTERNAL_HTTPS_LOAD_BALANCER` then no VPC Flow Logs. https://cloud.google.com/compute/docs/reference/rest/v1/subnetworks

[2020-10-12 17:13] KonradSchieban commented on #64
@Clausewitz45 thank you for raining the issue! Can you please check if the linked PR fixes the issue? Thanks!

[2020-10-12 20:40] #64 closed

[2020-10-13 07:53] Clausewitz45 commented on #64
Hi @KonradSchieban and @binamov . Sorry for not being able to submit the fix, battling with the flu, or whatever. I tested, works fine, and many thanks for closing/fixing it.

[2020-10-13 12:52] KonradSchieban commented on #64
No worries and thanks for confirming @Clausewitz45 ! Hope you'll feel better soon!

[2020-10-28 16:25] Clausewitz45 opened #67 "cis-gcp-3.4-networking check failing because DNSSEC not enabled on private zones"
Hi Team,

This control should check only public zones not the private ones, because the `--dnssec-state on` gcloud flag expected only there. No option on the UI, and the API returns with an error:
[code]
Unfortunately no chance on my side to create a pull request - I don't want to fail miserably like last time. If you have the time/chance and the required knowledge, please go ahead. I will hold th

[2020-10-28 16:30] Clausewitz45 commented on #67
The situation is the same for cis-gcp-3.5-networking also, please see output:
[code]

[2020-10-28 23:28] KonradSchieban commented on #67
Hi @Clausewitz45 , thanks for raising this issue. This is a good catch that we should resolve. Please allow us a few days to resolve. Should be straight-forward.

[2020-11-01 21:50] KonradSchieban commented on #60
Hi @aaronlippold , is this issue resolved by https://github.com/GoogleCloudPlatform/inspec-gcp-cis-benchmark/pull/68 ? I don't see remaining deprecation warnings.

[2020-11-02 22:41] #57 closed

[2020-11-06 11:16] deepakmahajan-23 opened #70 "[ 2.4-2.11] issue while creating alerts from the the specified metrics from the gcp cis pdf"
Hi Team,

While implementing the CIS benchmark we faced few issues for the policies from 2.4 to 2.11. Issues are as follow -

1.  when we create an alert based on the given metrics as per the "CIS Google Cloud Platform Foundation Benchmark" pdf documentation from the console. It gives an error saying -> **selected resource is invalid**.
looks like few resource types are not supported.

![image](ht

[2020-11-06 17:22] dinvlad opened #71 "Set default value for bucket_logging_ignore_regex"
Hi Team,

We've just updated to the newest master branch version of the benchmark, and it displays this warning on every run:
[code]

For other optional inputs, there's a default value in inspec.yaml, but not here. Could you provide one? Perhaps `^$` would work?

Thanks

[2020-11-06 19:46] #67 closed

[2020-11-06 20:02] KonradSchieban commented on #67
@Clausewitz45 can you please confirm that this PR solved the issue? Thanks!

[2020-11-06 20:38] Clausewitz45 commented on #67
Hi @KonradSchieban , yes I can confirm. Many thanks for the fix.

[2020-11-09 04:22] KonradSchieban commented on #71
Hi @dinvlad , thanks for raising this issue. Just had a look at that input parameter and it seems like it's not even used for any control, so I think it should be removed. @binamov do you know what `bucket_logging_ignore_regex` was used for and why it is not used by any control?

[2020-11-09 21:23] binamov commented on #71
I think the intent was to help customers ignore failures on buckets where logging was turned off, but it doesn't look like this pattern survived the refactors. Should be fine to remove.

[2020-11-11 22:22] #71 closed

[2020-11-24 08:16] gbohra commented on #70
Getting the same issue. Please help!

[2020-11-29 20:11] KonradSchieban commented on #70
@deepakmahajan-23 @gbohra I also identified the same issues. My suggestion to fix the controls is to remove the "resource.type=" in the metric filter. In addition, the suggested values in the alerting condition seem reasonable, yet arbitrary to me and I didn't see those values called out in the benchmark doc. Hence, suggesting to remove them (see linked PR).
@binamov any thoughts?

[2020-11-30 07:33] deepakmahajan-23 commented on #70
Hi @KonradSchieban Thanks for the suggestion. I tried creating the policy with the your suggestion. The policy is been created but when I generate the new report, it gives error for aggregation_cross_series_reducer, aggregation_per_series_aligner, condition_threshold_value and aggregation_alignment_period. The values I specified while creating policy are COUNT, ALIGN, 0.001 AND 1 minute (60s) resp

[2020-11-30 22:58] #70 closed

[2020-11-30 23:07] KonradSchieban commented on #70
@deepakmahajan-23 the latest version of the CIS benchmark pdf does not specify any specific threshold values but rather it is suggesting that an alerting policy should exist. Hence, in the linked PR I have removed the checks for the threshold values and only a check for the existence of an alerting policy remains. Please check the last release of the profile (or the current master branch).

[2020-12-06 16:14] KonradSchieban commented on #60
Closing since there are no remaining deprecation warnings left.

[2020-12-06 16:14] #60 closed

[2020-12-11 12:20] jtangney opened #76 "Dockerfile Entrypoint incorrect?"
Dockerfile has ENTRYPOINT ["inspec"].

However, executing:

Gives error:

It works correctly if I override the entrypoint

The cinc-auditor [docs](https://cinc.sh/start/auditor/) seem to suggest that calls to inspec should redirect to cinc-auditor... but maybe not working inside the container?

[2020-12-11 14:45] KonradSchieban commented on #76
Hi @jtangney , good point! Can you please review the linked PR and give your ok to merge?

[2020-12-11 14:54] jtangney commented on #76
LGTM, thanks!

[2020-12-11 15:51] #76 closed

[2021-01-13 21:39] ucantravel opened #78 "outdated resource.type being used"
GCP has stopped using those types of resources, so you cannot enable the alerts required using something like this:
resource.type =audited_resource
os
resource.type =global

Here is an example where this condition is being checked

expected google_project_metrics with metric_filter == "**resource.type=audited_resource** AND (protoPayload.servic...gDeltas.action=\"ADD\" AND protoPayload.serviceData

[2021-02-23 12:03] KonradSchieban opened #79 "Missing scored controls 4.8 and 4.9"

[2021-03-03 09:28] KonradSchieban commented on #79
4.8 implemented here: https://github.com/GoogleCloudPlatform/inspec-gcp-cis-benchmark/pull/80

[2021-03-04 19:10] dinvlad commented on #79
I think 4.8 title is mislabeled (the title is from 4.7, while the control itself is 4.8 indeed):
https://github.com/GoogleCloudPlatform/inspec-gcp-cis-benchmark/blob/9bde76a0fa8204863ec3364b82af7ca3cde795ff/controls/4.08-vms.rb#L29

[2021-03-07 19:52] KonradSchieban commented on #79
You're right! Thanks for noticing!

[2021-07-05 21:17] aaronlippold commented on #61
Fixed by #85

[2021-07-05 21:17] #61 closed

[2021-10-20 01:12] anubhavjain-ma opened #87 "Failed cases of CIS report"
Hello there,

When we solve a failed cases in CIS Benchmark report mainly "Logging Failures", We implement a required steps mentioned in "CIS_Google_Cloud_Platform_Foundation_Benchmark_v1.2.0" and by adding appropriate filter in Metrix, After all this steps when i again create a CIS Benchmark report the same error exist there till now.

error is **expected google_project_metrics with metric_filter

[2021-11-15 18:18] dinvlad opened #88 "CIS GCP 1.2.0 support?"
Hi Team,

I've noticed that [CIS GCP 1.2.0](https://www.cisecurity.org/benchmark/google_cloud_computing_platform/) has been released - are there any plans to update the existing controls for it? (Same question for the GKE benchmark..)

Thanks!

[2021-12-03 17:12] vin-fandemand commented on #88
Really interested to see this...

[2022-01-10 17:50] binamov opened #90 "README bug: gem version missing"
Looks like inspec-bin gem version 4.26.15 may have been removed from rubygems. I suggest refreshing for a newer version of inspec.

[2022-01-10 18:01] #88 closed

[2022-01-10 18:22] dinvlad commented on #88
Thanks a lot!

[2022-03-02 18:09] dinvlad opened #91 "Filter out disabled Service Account keys in 1.7"
Hi  Team,

The benchmark appears to report old Service Account keys, even if they're disabled. Could you add logic to [1.07 control](https://github.com/GoogleCloudPlatform/inspec-gcp-cis-benchmark/blob/master/controls/1.07-iam.rb) that filters out disabled keys?

Thanks!

[2022-03-02 22:04] aaronlippold commented on #91
That shouldn’t be too hard if there’s a property we can access about the
key to know that it’s disabled, then it would be just updating the control
to say next if property true

On Wed, Mar 2, 2022 at 13:09 Denis Loginov ***@***.***> wrote:

--
--------
Aaron Lippold

***@***.***

260-255-4779

twitter/aim/yahoo,etc.
'aaronlippold'

[2022-03-03 15:52] dinvlad commented on #91
@aaronlippold yes, there's `disabled` field on the `ServiceAccountKey` object, I believe:
https://cloud.google.com/iam/docs/reference/rest/v1/projects.serviceAccounts.keys#ServiceAccountKey

[2022-04-03 19:05] Clausewitz45 opened #92 "BigQuery views are evaluated as tables and checking for CMEK"
Hi Team,

I was scared first that our DEVs are messed up something, but then I found during the investigation that the check are running on views/materialized views and during the runtime we are failing on them:

[code]

Can you please exclude the views from the checks itself? Thank you in advance

[2022-04-04 13:18] aaronlippold commented on #92
Hi, I think you guys have the wrong project. This wouldn’t be the right
support channel to answer those questions.

On Mon, Apr 4, 2022 at 06:03 Csaba SÁRI ***@***.***> wrote:

--
--------
Aaron Lippold

***@***.***

260-255-4779

twitter/aim/yahoo,etc.
'aaronlippold'

[2022-04-12 13:48] rbclark commented on #26
I have run this scan against a completely fresh GCP account with nothing created in it and about half of the controls fail. The reason being that many of the tests do not account for parts of the environment being empty. Using [1.04-iam](https://github.com/GoogleCloudPlatform/inspec-gcp-cis-benchmark/blob/master/controls/1.04-iam.rb) as an example, the code for that check is iterating over `servic

[2022-06-15 15:39] dinvlad opened #95 "CIS GCP 1.3.0 support?"
Hi Team,

CIS 1.3.0 has been [released ](https://downloads.cisecurity.org/#/), could you update the controls to be in line with it?

Thanks!

[2022-06-15 18:40] rbclark opened #96 "Multiple controls get mistakenly marked as Not Applicable"
While looking through these results in [Heimdall](https://heimdall-lite.mitre.org) and I noticed a few controls return Not Applicable even though they are in fact applicable. Here is an example:

![Screen Shot 2022-06-15 at 9 46 04 AM](https://user-images.githubusercontent.com/2308869/173899983-38aeb97c-875a-4dd5-aa51-8dfe9fd8bf9b.jpg)

In this case it is showing the overall control as "Not Applic

[2022-06-16 21:43] binamov commented on #95
Thanks for the headsup @dinvlad . We haven't planned for this work, will have to find some time, not in the position to offer timelines at this moment.

Happy to help review+merge a PR if you get to this before we do.

[2022-06-16 22:24] dinvlad commented on #95
OK thanks! I'll keep this open for now, maybe will add a PR at some point.

[2022-06-28 15:36] #26 closed

[2022-06-30 16:10] #96 closed